@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);
@import url(http://fonts.googleapis.com/css?family=Gloria+Hallelujah);


.leftbar {
	height: 1000px;
	top: 50px;
	padding: 15px;
}

.mainbody {
	top: 70px;
	height: 400px;
	float: left;
	/*background-color: blue;*/
}

.border-login {
	color: #555;
	padding: 30px;
	background: #fefefe;
	border: solid 1px #eee;
	box-shadow: 0 0 3px #eee;
}

ul {
	padding: 0 !important;
	list-style: none !important;
	list-style-type: none !important;
}


/*---------- CHAT CSS----------*/
.chat-room.open {
	width: 340px;
	padding: 0 15px;
	border-left: solid;
	border-width: 1px;
	border-color: #ccc;
	position: fixed;
	right: 0;
	top: 50px;
	bottom: 0;
}

.chat-room.closed {
	display: none;
}

.chat-wrapper {
	position: relative;
	height: 100%;
}

.chat-button.open {
	position: fixed;
	margin-right: 10px;
	right: 340px;
	top: 60px;
	float: right;
}

.chat-button.closed {
	position: fixed;
	margin-right: 10px;
	right: 0;
	top: 60px;
	float: right;
}

.chat-button:hover {
	text-decoration: none;
}

.chat-text {
	width: 100% !important;
	height: 70px !important;
	margin: 0;
	resize: none;
	padding: 7px;
	color: #666;
	vertical-align: top;
	border: 1px solid rgba(0,0,0,0.25);
}

.chat-button-options {
	text-decoration: none;
	line-height: 30px;
	font-size: 16px;
}

.chat-top {
	padding: 5px 0;
	line-height: 40px;
	text-align: center;
	font-size: 14px;
	border-bottom: 1px solid rgba(238,238,238,1);
}

.chat-body {
	overflow-wrap: break-word;
	width: auto !important;
	height: auto !important;
	position: absolute;
	top: 51px;
	bottom: 144px;
	left: 0;
	right: 0;
}

.chat-username {
	text-align: center;
	font-weight: normal;
	font-family: 'Open Sans', sans-serif;
	line-height: 40px;
	margin: 0;
	padding: 0;
}

.chat-input {
	border-top: 1px solid rgba(238,238,238,1);
	padding: 15px 0;
	bottom: 0;
	position: absolute;
}

.chat-user-image {
	box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	float: left;
	width: 40px;
	height: 40px;
}

.chat-user-image img {
	display: block;
	max-width:100%;
	max-height:100%;
}

.chat-message-lines {
	height: 100%;
	overflow:hidden; 
	overflow-y:scroll;
}

.chat-username-span {
	font-weight: bold;
}

.chat-menu.open {
	width: 200px;
	background-color: white;
	border: 1px solid #ccc;
	/*z-index: 1;*/
	position: absolute;
	bottom: 50px;
	left: 0px;
	padding: 10px 0;
}

.chat-menu.closed {
	display: none;
}

.chat-color{
	display: block;
	margin: 4px;
	height: 20px;
	width: 20px;
	background-color: red;
}

.chat-colors-table {
	margin: 0 auto;
}

.chat-separation-line {
	height: 1px;
	width: 100%;
	background-color: #eee;
}

.chat-message-lines li span {
	font-size: 12px;
}
/*---------- END CHAT CSS----------*/

/*---------- SIGNUP CSS----------*/

.signup-obligatory {
	background-color: rgba(92,184,92,0.5) !important;
	border: 1px solid #5cb85c !important;
}

.signup-obligatory label {
	color: rgba(255,255,255,1) !important;
}

.input-group-addon:first-child {
	border-right: 1px solid #ccc;
	width: 45px;
}

.form-control {
	border-left: 0px !important;
}

label {
	margin-bottom: 0;
}

.margin-center {
	margin-right: auto;
	margin-left: auto;
}

.box-obligatory {
	float: left;
	height: 20px;
	width: 20px;
	background-color: rgba(92,184,92,0.5) !important;
	border: 1px solid #5cb85c !important;
}

.text-obligatory {
	margin-left: 10px;
	color: #5cb85c;
}

.div-obligatory {
	margin-left: 10px;
	height: 20px;
	width: 100%;
}



/*---------- END SIGNUP CSS----------*/

/*---------- NAVBAR CSS----------*/
.nav-top {
	position: fixed;
	background: #fff;
	color: #4E5961;
	width: 100%;
	height: 50px;
	top: 0;
	left: 0;
	border-bottom: 1px solid #fff;
	box-shadow: 0 1px 3px rgba(0,0,0,0.3);
	z-index: 999999;
}


.navbar-right li {
	margin: 0 5px;
	font-family: 'Open Sans', sans-serif;
}


.navbar-link {
	height: 50px;
	text-transform: uppercase;
	color: #989898;
}

.navbar-link:hover {
	color: #428bca;
	opacity: 0.5;
	background-color: #fff !important;
	padding-bottom: 12px;
	border-bottom: 3px solid rgba(66,139,202,0.5);
}

.active {
	color: #313131;
	padding-bottom: 12px;
	border-bottom: 3px solid rgba(66,139,202,1);
}

.navbar-brand {
	font-size: 20px;
	font-family: 'Gloria Hallelujah', cursive;
	border-bottom: 3px solid #428bca;
}

/*---------- END NAVBAR CSS----------*/

/*---------- SCORECARD CSS----------*/


.score-card.open {
	width: 340px;
	padding: 0 15px;
	border-left: solid;
	border-width: 1px;
	border-color: #ccc;
	position: fixed;
	right: 0;
	top: 50px;
	bottom: 0;
}

.score-card.closed {
	display: none;
}

.score-card-button.open {
	position: fixed;
	margin-left: 10px;
	left: 200px;
	top: 60px;
	float: left;
}

.score-card-button.closed {
	position: fixed;
	margin-left: 10px;
	left: 0;
	top: 60px;
	float: left;
}





.score-card-table
{
	vertical-align: middle;
	text-align: center;
	border: 1px solid #dadada;
	padding: 10px;
	font-size: 13px;
	font-weight: 200;
	font-family: 'Open Sans', sans-serif;
}

.score-card-column-top
{
	border-top: 2px solid #428bca !important;
	border-left: 2px solid #428bca !important;
	border-right: 2px solid #428bca !important;
	border-bottom: 1px solid #428bca !important;
}

.score-card-column-mid
{
	border-top: 1px solid #428bca !important;
	border-left: 2px solid #428bca !important;
	border-right: 2px solid #428bca !important;
	border-bottom: 1px solid #428bca !important;
}

.score-card-column-bot
{
	border-top: 1px solid #428bca !important;
	border-left: 2px solid #428bca !important;
	border-right: 2px solid #428bca !important;
	border-bottom: 2px solid #428bca !important;
}


.tooltip .tooltip-inner {
	background-color: #428bca;
	width: 150px;
}

.tooltip .tooltip-arrow {
	border-right-color: #428bca !important;
}

/*---------- END SCORECARD CSS----------*/







/*---------- GAME CSS----------*/

.circle {

	width: 600px;
	height: 400px;
	background: radial-gradient(#33cc5c, #00c060);
	border: 20px solid #B57E3C;
	box-shadow: 0px 0px 50px #B57E3C;
}

.players {
	background-color: #fff;
	margin-top: 30px;
}

.players table tr td div {
	width: 50px;
	height: 50px;
	margin: 5px;
	background-color: red;
}

.contentor {
	left: 0;
	position: relative;
	width: 595px;
	margin-left: 0;
	margin-right: 0;
	padding: 0;
}

.grandient {
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, rgba(255,255,255,0.9), transparent, rgba(255,255,255,0.9));
}




/*---------- END GAME CSS----------*/







/*CSS Aparencia*/

* {
	border-radius: 0 !important;
}

/*Form Icons*/
.input-group-addon {
  color: #b3b3b3;
  background: #fff;
}

h1, h2, h3, h4, h5, h6 {
  color: #585f69; 
  margin-top: 5px;
  text-shadow: none;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
}

.center {
	text-align: center;
}

.form-control::-moz-placeholder {
  color: #b3b3b3;
}
.form-control:-ms-input-placeholder {
  color: #b3b3b3;
}
.form-control::-webkit-input-placeholder {
  color: #b3b3b3;
}

.margin-bottom-20 {
	margin-bottom: 20px;
}

.margin-bottom-10 {
	margin-bottom: 10px;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {   
border-color: rgba(179, 179, 179, 0.8);
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(179, 179, 179, 0.6);
outline: 0 none;}